.App {
  background-size: contain;
  background-position: center top;
  max-width: 800px;
  text-align: center;
  margin: auto;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  font-size: calc(10px + 2vmin);
}
